@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes monitorIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
  }
}

.about {
  align-items: center;
  align-self: center;
  animation: monitorIn 1s ease-in-out forwards;
  background-color: #FBFBFF;
  border-radius: 20px;
  box-shadow: 0 0 8px 8px #FBFBFF;
  flex-direction: column;
  grid-area: body;
  justify-content: center;
  justify-self: center;
  max-height: 90%;
  overflow: scroll;
  padding: 24px;

  .title {
    font-family: 'Uncial Antiqua', sans-serif;
    font-size: 36px;
    margin-top: 0px;
    text-transform: uppercase;
  }
}

.container {
  box-shadow: 0 0 8px 8px #FBFBFF inset;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 50px auto 40% 50px;
  grid-template-areas:
    "header header"
    "body ."
    "body logo"
    "footer footer";
  height: 100%;
  width: 100%;
}

.logo {
  animation: fadeIn 2s;
  grid-area: logo;
  height: 100%;
  justify-content: center;
  justify-self: center;
  width: 100%;
}
