@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

.container {
  background-image: url('../../assets/images/logo/black_logo_no_background.png');
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 20px auto 50px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  height: 100%;
  width: 100%;

  .content {
    flex-direction: column;
    grid-area: body;
    height: 100%;
    justify-content: center;
    padding: 24px;

    .title {
      font-family: 'Uncial Antiqua', sans-serif;
      font-size: 36px;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}
