@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

.container {
  .title {
    font-family: 'Uncial Antiqua', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
  }

  .el-collapse-item {
    &__header, &__wrap {
      background-color: #FBFBFF;
    }
  }
}
