@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@keyframes chatblips{
  /* taken from http://angrytools.com/css/animation/ for bounce-in animation*/
  0%{
    opacity: 0;
    transform: scale(.3);
  }
  50%{
    opacity: 1;
    transform: scale(1.0);
  }
  70%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

.contact {
  border-bottom: 70px solid #304960;
  border-left: 70px solid transparent;
  border-top: 0px solid transparent;
  bottom: 0;
  cursor: pointer;
  height: 0;
  position: fixed;
  right: 0;
  width: 0;

  &:hover {
    border-bottom: 150px solid #00BC7E;
    border-left: 150px solid transparent;
    border-top: 0px solid transparent;

    span {
      display: block;
    }
  }

  span {
    display: none;
    bottom: 30px;
    color: #FFFFFF;
    font-size: 16px;
    position: fixed;
    right: 0;
    text-align: center;
    transform: rotate(-45deg);
    width: 100px;
  }
}

.el-container {
  height: 100%;
  width: 100%;
}

.header {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #FBFBFF;
  display: flex;
  flex-direction: row;
  font-family: 'Fredericka the Great', sans-serif;
  justify-content: space-between;
  letter-spacing: 1px;

  .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;

    // Underline refer: https://codepen.io/matchboxhero/pen/VMEWrq?editors=1100
    a.item {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      margin: 12px 16px 0;
      text-align: center;

      &:active, &:link, &:visited {
        color: #000000;
      }

      &::after {
        background-color: #000000;
        bottom: -8px;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform 250ms;
        width: 50%;
      }

      &:hover {
        &::after {
          transform: translateX(-50%) scaleX(1);
        }
      }

    }

    a.router-link-active {
      @extend a.item;

      &:active, &:link, &:visited {
        color: #00BC7E;
      }

      &::after {
        background-color: #00BC7E;
      }
    }

    .login-btn {
      @extend a.item;
      font-family: 'Permanent Marker', sans-serif;

      &:active, &:link, &:visited {
        color: #00BC7E;
      }

      &::after {
        background-color: #00BC7E;
      }
    }

    .name {
      align-items: center;
      display: flex;
      height: 60px;
      margin: 0;
    }
  }
}

.home {
  background-image: url('../../assets/images/home_background.png');
  background-size: cover;
  box-shadow: 0 0 8px 8px #FBFBFF inset;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr .5fr;
  /* for left and right sections */
  grid-gap: 10px;
  grid-template-areas: ". left right .";
  height: 100%;
  width: 100%;

  .left-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', sans-serif;
    grid-area: left;
    justify-self: center;

    .logo {
      height: 150px;
      width: 150px;
    }
  }

  .right-content {
    grid-area: right;
    align-self: center;
    justify-self: center;

    img.elements {
      width: 200px;
      height: 40px;
      z-index: 2;
    }

    .account {
      margin-top: 0%;
      margin-left: 9%;
      animation: chatblips .5s ease-in-out .5s forwards; /* assign animation to dash with 'chatblips' as keyframe name */
      opacity: 0;
    }

    .cloud {
      height: 300px;
      opacity: 0.5;
      position: absolute;
      top: calc(30% + 20px);
      width: 300px;
    }

    .recommend {
      margin-top: 9%;
      margin-left: 18%;
      animation: chatblips .5s ease-in-out 1.5s forwards; /* assign animation to eth with 'chatblips' as keyframe name */
      opacity: 0;
    }

    .search {
      margin-top: 9%;
      margin-left: 27%;
      animation: chatblips .5s ease-in-out 2.5s forwards; /* assign animation to iota with 'chatblips' as keyframe name */
      opacity: 0;
    }
  }
}

.main {
  background-color: #FBFBFF;
  height: 100%;
}
