@keyframes monitorInFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes monitorInFromBelow {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#logo {
  animation: monitorInFromTop 1s ease-in-out forwards;
  height: 200px;
  opacity: 0;
  width: 200px;
}

.login {
  background-color: #FBFBFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-block {
  flex-direction: column;
  text-align: center;

  .title {
    animation: monitorInFromBelow 2s ease-in-out forwards;
    color: #00BC7E;
    font-size: 36px;
    opacity: 0;
  }
}

.submit {
  margin: 24px 0 16px;
  width: 100%;

  &:hover {
    box-shadow: 4px 4px #00BC7E;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
